.header
    position: fixed
    top: 0
    left: 0
    right: 0
    background: $color-background-page
    z-index: 3
    border-bottom: 1px solid #15151E
    @media (max-width: $size-brakepoint-mobile)
        .safeArea
            margin: 0

.headerContainer
    display: flex
    justify-content: space-between
    align-items: center

    .logotype
        display: flex
        align-items: center
        gap: 22px
        padding: 30px 0

        @media (max-width: $size-brakepoint-mobile)
            padding: 30px

        p
            color: rgba(255, 255, 255, 1)
            font-size: 21px
            letter-spacing: $font-letter-spacing-titles

            @media (max-width: $size-brakepoint-mobile)
                display: none

.nav
    font-size: 14px
    
    @media (max-width: $size-brakepoint-mobile)
        display: none

.navList
    display: flex

    .navLink
        transition: 0.15s
        cursor: pointer
        transition: 0.15s
        padding: 34px 15px
        border-bottom: 2px solid transparent
        position: relative

        &::after
            content: ''
            display: block
            transform: scaleX(0)
            width: calc(100% - 29px)
            height: 1px
            background: #3B3B49
            transition: 0.15s
            position: absolute
            bottom: -3px
            transform-origin: center
            opacity: 0

        @media (min-width: $size-brakepoint-mobile)
            &:hover::after, &.active::after
                transform: scaleX(1)
                opacity: 1

            &:hover:not(.active)::after
                background: #824EDC

            &:hover:not(.active)
                color: rgba(255, 255, 255, 1)



.heroGreeting
    @media (min-width: $size-brakepoint-mobile)
        display: none
    
    font-size: 14px
    color: rgba(255, 255, 255, 1)


.hireButton
    @media (max-width: $size-brakepoint-mobile)
        display: none


.burger
    @media (min-width: $size-brakepoint-mobile)
        display: none

    padding: 30px