.tile
    display: flex
    flex-direction: column
    background: $color-background-page
    border: 1px solid #15151E
    width: calc((100% - 24px) / 3)
    position: relative
    overflow: hidden
    color: rgba(255, 255, 255, .9)
    justify-content: space-between
    
    padding: 42px
    border-radius: 13px
    gap: 73px
    @media (max-width: $size-brakepoint-mobile)
        border-radius: 8px
        padding: 30px 10px 10px 10px
        gap: 30px
        width: 100%

    .stackBlurCircle
        position: absolute
        width: 546px
        height: 546px
        background: var(--color-blur)
        left: 50%
        transform: translateX(-50%)
        filter: blur(500px)
        top: -600px
        opacity: 0.4

    .stackTileHeading
        display: flex
        gap: 22px
        align-items: center
        font-size: 21px

        @media (max-width: $size-brakepoint-mobile)
            padding: 0 20px

    .stackTileContent
        display: flex
        gap: 9px
        font-size: 16px
        flex-wrap: wrap

        .tech
            padding: 13px 17px
            border: 1px solid #15151E
            min-width: max-content
            
            border-radius: 7px
            @media (max-width: $size-brakepoint-mobile)
                border-radius: 5px
                display: flex
                justify-content: center
                flex: 1
                flex-basis: calc(50% - 9px)