*
    box-sizing: border-box
    padding: 0
    margin: 0
    min-width: 0


body
  background: #00000A
  color: rgba(255, 255, 255, 0.8)


.header
    border-bottom: 1px solid #15151E


h4
    line-height: 19px
    color: red

h3
    font-size: 21px
    line-height: 30px

    letter-spacing: $font-letter-spacing-titles
    @media (max-width: $size-brakepoint-mobile)
        font-size: 18px

h1
    font-size: 41px
    color: #fff
    line-height: 50px
    letter-spacing: $font-letter-spacing-titles

    @media (max-width: $size-brakepoint-mobile)
        font-size: 25px
        line-height: 36px