.main
    
    h5
        line-height: 19px

    h1
        font-size: 41px
        margin-bottom: 45px
        color: #fff
        line-height: 50px



    .hero
        opacity: 1

        .heroContent
            display: flex
            flex-direction: column
            position: relative
            padding: 102px 0 133px

        .heroBackgroundImageTop
            width: 100%
            position: absolute
            top: 0
            left: 0
            pointer-events: none
            z-index: -1

        .heroBackgroundImageBottom
            width: 100%
            position: absolute
            bottom: -300px
            left: 0
            pointer-events: none
            z-index: -1

        .heroGreeting
            margin-bottom: 33px
            text-align: center
            color: rgba(255, 255, 255, 1)

        .heroTitle
            text-align: center
            color: rgba(255, 255, 255, 1)

        .heroButton
            margin: 0 auto
            width: 100%
            max-width: 392px
