.main
    padding-bottom: 73px
    @media (max-width: $size-brakepoint-mobile)
        padding-bottom: 101px


    .hero
        opacity: 1

        .heroTopContent
            display: flex
            flex-direction: column
            position: relative
            
            padding: 102px 0 133px
            @media (max-width: $size-brakepoint-mobile)
                padding: 39px 0 53px

        .heroBackgroundImageTop
            width: 100%
            position: absolute
            bottom: 0
            left: 0
            pointer-events: none
            z-index: -1

            @media (max-width: $size-brakepoint-mobile)
                opacity: 0
                animation: fade-in 1s 1s ease-out forwards

        .heroBackgroundImageBottom
            width: 100%
            pointer-events: none
            z-index: -1

            @media (max-width: $size-brakepoint-mobile)
                opacity: 0
                transform: translateY(-30px)
                animation: fade-in 1s 1s ease-out forwards

        .heroGreeting
            margin-bottom: 33px
            text-align: center
            color: rgba(255, 255, 255, 1)
            animation: fade-in-up .5s .2s ease-out forwards
            opacity: 0

            @media (max-width: $size-brakepoint-mobile)
                display: none

        .heroTitle
            margin-bottom: 45px
            text-align: center
            color: rgba(255, 255, 255, 1)
            animation: fade-in-up .5s .4s ease-out forwards
            opacity: 0

            @media (max-width: $size-brakepoint-mobile)
                padding: 0 10px

        .heroButton
            margin: 0 auto
            max-width: 392px
            opacity: 0

            width: 100%
            animation: fade-in-up .5s 1.5s ease-out forwards
            @media (max-width: $size-brakepoint-mobile)
                width: auto
                animation: fade-in-up .5s .6s ease-out forwards

        .clients
            background: $color-background-page
            border: 1px solid #15151E
            position: relative
            overflow: hidden
            animation: fade-in-up 1s ease-out
            
            border-radius: 13px
            @media (max-width: $size-brakepoint-mobile)
                border-radius: 8px

            .heading
                display: flex
                justify-content: space-between
                align-items: center
                color: rgba(255, 255, 255, .9)
                
                padding: 33px 33px 33px 42px
                @media (max-width: $size-brakepoint-mobile)
                    padding: 22px 22px 22px 30px

            .tiles
                display: flex
                padding: 0 9px 9px 9px
                gap: 9px

                @media (max-width: $size-brakepoint-mobile)
                    overflow-x: auto


    .stack
        margin-top: -193px
        
        padding-top: 199px
        @media (max-width: $size-brakepoint-mobile)
            padding-top: 95px

        .stackTitle
            text-align: center
            
            margin-bottom: 82px
            @media (max-width: $size-brakepoint-mobile)
                margin-bottom: 42px

        .stackTiles
            display: flex
            flex-direction: column
            gap: 12px
            

            .stackRow
                display: flex
                gap: 12px
                flex-wrap: wrap

            .stackBackend
                opacity: 1
                flex: 2

            .stackCloud
                flex: 2

            .stackFlexTest
                display: flex


    .models
        padding-top: 197px
        @media (max-width: $size-brakepoint-mobile)
            padding-top: 95px

        .modelsTitle
            margin-bottom: 82px
            @media (max-width: $size-brakepoint-mobile)
                margin-bottom: 42px
                padding-left: 30px

        .modelTiles
            display: flex
            flex-wrap: wrap
            gap: 12px

            .modelTile
                min-width: 346px
                @media (max-width: $size-brakepoint-mobile)
                    min-width: 100%

    
    .aboutMe
        padding-top: 197px
        @media (max-width: $size-brakepoint-mobile)
            padding-top: 95px

        .aboutMeTitle
            text-align: center
            margin-bottom: 82px
            @media (max-width: $size-brakepoint-mobile)
                margin-bottom: 42px


        .aboutMeInfoTiles
            display: flex
            flex-direction: column
            
            gap: 12px
            @media (max-width: $size-brakepoint-mobile)
                gap: 10px

            .aboutMeInfoTopTileRow
                display: flex
                flex: 1

                gap: 12px
                @media (max-width: $size-brakepoint-mobile)
                    gap: 10px
                    flex-direction: column

                .aboutMeInfoTopLeftTileColumn
                    flex: 1
                    display: flex
                    flex-direction: column

                    gap: 12px
                    @media (max-width: $size-brakepoint-mobile)
                        gap: 10px

                    .aboutMeInfoOpenSourceTile
                        border: 1px solid #15151E
                        display: flex
                        flex-direction: column
                        
                        border-radius: 13px
                        padding: 39px 42px 42px 42px
                        gap: 72px
                        @media (max-width: $size-brakepoint-mobile)
                            border-radius: 10px
                            padding: 30px 0px 10px 0px
                            gap: 60px
                        
                        position: relative
                        overflow: hidden
                        .aboutMeBlurCircle
                            position: absolute
                            top: 0
                            left: 0
                            bottom: 0
                            right: 0
                            background: radial-gradient(94.4% 292.76% at 50% 198.03%, #D7D7D7 0%, rgba(0, 0, 10, 0) 100%)
                            opacity: 0.2
                            pointer-events: none
                            z-index: 2
                            
                            @media (max-width: $size-brakepoint-mobile)
                                border-radius: 9px

                        .aboutMeOpenSourceTitle
                            display: flex
                            align-items: center
                            gap: 22px

                            @media (max-width: $size-brakepoint-mobile)
                                padding: 0 30px

                        .aboutMeRepositories
                            display: flex
                            gap: 9px
                            align-items: center
                            
                            flex-wrap: wrap
                            @media (max-width: $size-brakepoint-mobile)
                                flex-wrap: nowrap
                                overflow-x: auto
                                padding: 0 10px

                .aboutMeFromUkraine
                    padding: 42px
                    border: 1px solid #15151E
                    display: flex
                    flex-direction: column

                    border-radius: 13px
                    @media (max-width: $size-brakepoint-mobile)
                        padding: 30px
                        border-radius: 10px

                    h3
                        @media (max-width: $size-brakepoint-mobile)
                            text-align: center

                    position: relative
                    overflow: hidden
                    .aboutMeBlurCircle
                        position: absolute
                        top: 0
                        left: 0
                        bottom: 0
                        right: 0
                        background: linear-gradient(90deg, #FFD600 -16.34%, #0085FF 100%)
                        opacity: 0.2
                        pointer-events: none

                .aboutMeRunpod
                    display: flex
                    justify-content: space-between
                    align-items: center
                    border: 1px solid #15151E
                    display: flex
                    flex-direction: column
                    
                    width: 346px
                    padding: 62px 42px 45px 42px
                    border-radius: 13px
                    @media (max-width: $size-brakepoint-mobile)
                        width: auto
                        padding: 62px 0
                        border-radius: 10px

                    position: relative
                    overflow: hidden
                    .aboutMeBlurCircle
                        position: absolute
                        top: 0
                        left: 0
                        bottom: 0
                        right: 0
                        background: radial-gradient(142.39% 142.39% at 50% 118.53%, #824FDC 0%, rgba(0, 0, 10, 0) 100%)
                        opacity: 0.2
                        pointer-events: none
                    
                    .aboutMeRunpodTitle
                        display: flex
                        align-items: center
                        gap: 22px

                        flex-direction: column
                        @media (max-width: $size-brakepoint-mobile)
                            flex: 1

                    span
                        font-size: 14px
                        position: relative
                        top: -4px

                        @media (max-width: $size-brakepoint-mobile)
                            display: none


        .aboutMeInfoBottomTileRow
            border: 1px solid #15151E
            display: flex
            flex-direction: column
            gap: 72px
            
            padding: 39px 42px 42px 42px
            border-radius: 13px
            @media (max-width: $size-brakepoint-mobile)
                padding: 30px 10px 10px 10px
                border-radius: 10px
                gap: 30px

            & > h3
                @media (max-width: $size-brakepoint-mobile)
                    text-align: center

            .aboutMeStartups
                display: flex
                gap: 12px

                @media (max-width: $size-brakepoint-mobile)
                    flex-direction: column

                .startup
                    flex: 1
                    display: flex
                    flex-direction: column
                    gap: 12px
                    padding: 26px
                    border: 1px solid #15151E
                    gap: 54px
                    transition: 0.15s
                    
                    border-radius: 7px
                    @media (max-width: $size-brakepoint-mobile)
                        border-radius: 5px

                    @media (min-width: 768px)
                        &:hover
                            cursor: pointer
                            border: 1px solid #824EDC
                            color: rgba(255, 255, 255, 1)

                    .startupTitle
                        display: flex
                        align-items: center
                        justify-content: space-between

                    .startupInfo
                        display: flex
                        justify-content: space-between
                        font-size: 14px
                        color: rgba(255, 255, 255, .6)

    



@keyframes fade-in-up
    from
        opacity: 0
        transform: translateY(20px)
    to
        opacity: 1
        transform: translateY(0)


@keyframes fade-in
    from
        opacity: 0
    to
        opacity: 1